<%- include('partials/headlogin') %>

    <div class="container center">
        <h3>Practice your Morse Code skills!</h3>

        <a href="/login" class="space btn blue"> Login</a>
        <a href="/signup" class="btn red"> Signup</a>
    </div>
</body>
</html>