<%- include('partials/headmorse') %>

    <div class="container">
        <h3 class="center">Suggest a New Sentence to Morsefy</h3>
        <h6><%= user.userName %>'s score: <%= user.score %></h6>
        
        <form action="/morse/createMorse" method='POST'>
            <input type="text" placeholder="Enter Suggestion" name='morseItem'>
            <button type="submit" class="btn btn-primary">Suggest</button>
        </form>
    </div>


    <!-- <script src="../js/main.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>

</body>
</html>